@import url(navbar.css);
@import url(wrapper.css);
@import url(main.css);
@import url(barbie.css);
@import url(footer.css);

:root {
    --pink: #f7007c;
    --white: #ffffff;
    --red: #DE027F
}

* {
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #f7007c;

}
